
@import "bootstrap";
@import "font-awesome";


body {
  min-height: 75rem; /* Can be removed; just added for demo purposes */
}



// product main page

.navbar {
  margin-bottom: 0;
}

.jumbotron {
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin-bottom: 0;
  background-image: url("background.jpg");
  background-size: 1000px 500px;
  background-repeat: no-repeat;
}

.jumbotron p:last-child {
  margin-bottom: 0;
  color: white !important;
}

.jumbotron h1 {
  color: white;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}
.album {
  min-height: 50rem; /* Can be removed; just added for demo purposes */
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-image: #f7f7f7;
}

.card {
  float: left;
  width: 33.333%;
  padding: .75rem;
  margin-bottom: 2rem;
  border: 0;
}

.card > img {
  margin-bottom: .75rem;
}

.card-text {
  font-size: 85%;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}



.vertical-center-row {
    vertical-align: middle;
}

// ------------------------------login
.background {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.background{
  background-color: transparent;
  background-color: #21D4FD;
  background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
}

.center-block text-center h1{
  display: none;
  background: #2f3238;
  margin: auto;
  width: 500px;
  height: 500px;
  box-shadow: 1px 1px 5px #333;
  border-radius: 2px;
}

.center-block text-center h1 {
  padding: 10px 0 0 15px;
  margin: 0 0 0 6px;
  font-family: 'Montserrat';
  font-size: 38px;
  font-weight: lighter;
  color: #fefefe;
}

body {
  height: 100vh;
  margin: 0 auto;
}

.signholder{
  background-color: white;
  opacity: 0.7;
  padding: 6%;
  border-radius: 6%;
  width: 1000px;

}
